<div class="row">
  <div class="col-md-6">
    <app-payment-form></app-payment-form>
    <button
      id="login"
      name="login"
      class="btn btn-info btn-lg"
      (click)="login()"
    >
      login
    </button>
  </div>
  <div class="col-md-6">
    <h2>Payment Card Details</h2>
    <div *ngFor="let detail of this.paymentDetailService.list" class="card">
      <app-payment-item
        [detail]="detail"
        (updateDetailsEvent)="setDetailVariable(detail)"
        (deleteDetailsEvent)="deletePaymentDetails(detail)"
      ></app-payment-item>
    </div>
  </div>
</div>
